<div class="col">
    <div id="page-content">
        <div id="clients">

            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Client Payable Table</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <!-- <input id="search" type="text" placeholder="Search Client" [(ngModel)]="client_name"> -->
                            <!-- <button id="add-bill" class="table-header-button" (click)="searchClient()">Search Client</button> -->
                        </div>
                        <!-- <img id="search-icon" src="search.png" (click)="searchClient()"> -->
                        <button id=" add-client " class="table-header-button " routerLink="/Add-Client">Generate Statement</button>

                    </div>
                </div>
                <table id="table">
                    <thead>
                        <tr>

                            <th scope="col"> Client Name </th>
                            <th scope="col"> 1-30 </th>
                            <th scope="col"> 30-60 </th>
                            <th scope="col"> 60-90 </th>
                            <th scope="col"> > 90 </th>
                            <th scope="col"> Total </th>
                            <td>
                            </td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let client of get_all_client_summary | paginate : {
                            id: 'client_pagination',
                            itemsPerPage: client_tableSize,
                            currentPage: client_page,
                            totalItems: count}; let client_index = index" [class.active]="client_index == client_currentIndex">
                            <td> {{client.client_name}} </td>
                            <td> {{client.get_one_month}} </td>
                            <td> {{client.get_two_month}} </td>
                            <td> {{client.get_three_month}} </td>
                            <td> {{client.get_four_month}} </td>
                            <td> {{client.get_total}} </td>
                            <td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class=" d-flex justify-content-center ">
            <!-- <select (change)="tableData($event)">
            
            </select> -->
            <br> <br>
            <pagination-controls id="client_pagination" previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize_client($event)">
                <!--responsive="True"-->
            </pagination-controls>
        </div>
    </div>

    <div id="page-content">
        <div id="vendors">

            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Vendor Payable Table</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <!-- <input id="search" type="text" placeholder="Search Vendor" [(ngModel)]="vendor_name"> -->
                            <!-- <button id="add-bill" class="table-header-button" (click)="searchVendor()">Search Vendor</button> -->
                        </div>
                        <!-- <img id="search-icon" src="search.png" (click)="searchVendor()"> -->
                        <button id=" add-client " class="table-header-button " routerLink="/">Generate Statement</button>

                    </div>
                </div>
                <table id="table">
                    <thead>
                        <tr>

                            <th scope="col"> Vendor Name </th>
                            <th scope="col"> 1-30 </th>
                            <th scope="col"> 30-60 </th>
                            <th scope="col"> 60-90 </th>
                            <th scope="col"> > 90 </th>
                            <th scope="col"> Total </th>
                            <td>
                            </td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let vendor of get_all_vendor_summary | paginate : {
                            itemsPerPage: vendor_tableSize,
                            currentPage: vendor_page,
                            totalItems: count,
                             id: 'vendor_pagination'}; let vendor_index = index" [class.active]="vendor_index == vendor_currentIndex">
                            <td> {{vendor.vendor_name}} </td>
                            <td> {{vendor.get_one_month}} </td>
                            <td> {{vendor.get_two_month}} </td>
                            <td> {{vendor.get_three_month}} </td>
                            <td> {{vendor.get_four_month}} </td>
                            <td> {{vendor.get_total}} </td>
                            <td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class=" d-flex justify-content-center ">
            <!-- <select (change)="tableData($event)">
            
            </select> -->
            <br> <br>
            <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize_vendor($event)"> -->
            <pagination-controls id="vendor_pagination" previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize_vendor($event)">
                <!--responsive="True "-->
            </pagination-controls>
        </div>
    </div>
</div>