<div class="col">
    <div id="page-content">
        <div id="appointments">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Edit Profile</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <!-- <input id="search" type="text" placeholder="Search Appointments" [(ngModel)]="appointment_type">
                            <button id="search-appointments" class="table-header-button" (click)="searchAppointments()">Search Appointments</button> -->
                            <button id="add-appointments" class="table-header-button" routerLink="/Add-Appointment">Save Changes
                            </button>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

    <div class=" d-flex justify-content-center ">

    </div>
</div>