<div class="col">
    <div id="page-content">
        <div id="clients">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Client Payable Table</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <!-- <input id="search" type="text" placeholder="Search Client" [(ngModel)]="client_name"> -->
                            <!-- <button id="add-bill" class="table-header-button" (click)="searchClient()">Search Client</button> -->
                        </div>
                        <!-- <img id="search-icon" src="search.png" (click)="searchClient()"> -->
                        <button id=" add-client " class="table-header-button " routerLink="/Add-Client">Generate Statement</button>

                    </div>
                </div>
                <table id="table">
                    <thead>
                        <tr>
                            <th scope="col"> Client Name </th>
                            <th scope="col"> 1-30 </th>
                            <th scope="col"> 30-60 </th>
                            <th scope="col"> 60-90 </th>
                            <th scope="col"> > 90 </th>
                            <th scope="col"> Total </th>
                            <td>

                            </td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td> {{getClientSummary.client_name}} </td>
                            <td> {{getClientSummary.get_one_month}} </td>
                            <td> {{getClientSummary.get_two_month}} </td>
                            <td> {{getClientSummary.get_three_month}} </td>
                            <td> {{getClientSummary.get_four_month}} </td>
                            <td> {{getClientSummary.get_total}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col">
        <div id="page-content">
            <div id="clients">
                <div id="table-container">
                    <div id="table-header">
                        <div id="table-header-left">
                            <span id="tab-title">Invoices</span>
                        </div>
                        <div id="table-header-right">
                            <div>
                                <button id="add-invoice " class="table-header-button " routerLink="/Add-Invoice">Add Invoice</button>
                            </div>
                            <!-- <img id="search-icon" src="search.png" (click)="searchClient()"> -->
                        </div>
                    </div>

                    <table id="table">
                        <thead>
                            <tr>
                                <td>Serial No.</td>
                                <td>Date</td>
                                <td>Description</td>
                                <td>Amount</td>
                                <td>Reference No</td>
                                <td>
                                    View Client
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoice of invoices | paginate : {
                                id: 'invoices_pagination',
                                itemsPerPage: tableSize,
                                currentPage: invoice_page,
                                totalItems: count
                              };
                        let i = index" [class.active]="i == currentIndex">

                                <td>{{(invoice_page-1)*10 +i +1}}</td>
                                <td>{{invoice.date_created}}</td>
                                <td>{{invoice.invoice_description}}</td>
                                <td>{{invoice.invoice_amount }}</td>
                                <td>AEE-INV-{{invoice.invoice_id }}</td>
                                <td>

                                    <a routerLink="/Invoices/{{invoice.invoice_id}}">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" d-flex justify-content-center ">
                <pagination-controls id="invoices_pagination" previousLabel="Prev" nextLabel="Next" (pageChange)="invoices_tabSize($event)">
                    <!--responsive="True"-->
                </pagination-controls>
            </div>

        </div>

    </div>


    <div class="col">
        <div id="page-content">
            <div id="clients">
                <div id="table-container">
                    <div id="table-header">
                        <div id="table-header-left">
                            <span id="tab-title">Receivings</span>
                        </div>
                        <div id="table-header-right">
                            <div>
                                <!-- <input id="search" type="text" placeholder="Search Client" [(ngModel)]="client_name"> -->
                                <!-- <button id="add-bill" class="table-header-button" (click)="searchClient()">Search Client</button> -->
                            </div>
                            <!-- <img id="search-icon" src="search.png" (click)="searchClient()"> -->
                            <button id="add-receiving " class="table-header-button " routerLink="/Add-Receiving">Add Receiving</button>
                        </div>
                    </div>
                    <table id="table">
                        <thead>
                            <tr>
                                <td>Serial No.</td>
                                <td>Date</td>
                                <td>Description</td>
                                <td>Amount</td>
                                <td>Reference No</td>
                                <td>
                                    View Client
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let receiving of receivings | paginate : {
                                id: 'receivings_pagination',
                                itemsPerPage: tableSize,
                                currentPage: receiving_page,
                                totalItems: count
                              };
                        let i = index" [class.active]="i == currentIndex">

                                <td>{{(receiving_page-1)*10 +i +1}}</td>
                                <td>{{receiving.date_created}}</td>
                                <td>{{receiving.receiving_description}}</td>
                                <td>{{receiving.receiving_amount}}</td>
                                <td>AEE-REC-{{receiving.receiving_id}}</td>
                                <td>
                                    <a routerLink="/Receivings/{{receiving.receiving_id}}">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" d-flex justify-content-center ">
                <pagination-controls id="receivings_pagination" previousLabel="Prev" nextLabel="Next" (pageChange)="receivings_tabSize($event)">
                    <!--responsive="True"-->
                </pagination-controls>
            </div>
        </div> -->
    </div>

</div>