<div class="col-auto mt-6">
    <div id="tabs">
        <ul id="tab-list">
            <li><a href="/">Summary</a></li>
            <li><a href="/Clients">Clients</a></li>
            <!-- <li><a href="/Services">Services</a></li>
            <li><a href="/Cashflows">Cashflows</a></li> -->
            <li><a href="/Accounts">Accounts</a></li>
            <li><a href="/Expenses">Expenses</a></li>
            <li><a href="/Receivings">Receivings</a></li>
            <li><a href="/Vendors">Vendors</a></li>
        </ul>
    </div>
</div>

<!-- <div class="sidebar-sticky">
    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <span data-feather="shopping-cart"></span> Summary
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link active" href="/Clients">
                <span data-feather="shopping-cart"></span> Clients
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/Services">
                <span data-feather="shopping-cart"></span> Services
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/Cashflows">
                <span data-feather="shopping-cart"></span> Cashflows
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link " href="/Accounts">
                <span data-feather="shopping-cart"></span> Accounts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Expenses">
                <span data-feather="shopping-cart"></span> Expenses
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/Receivings">
                <span data-feather="shopping-cart"></span> Receivings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Vendors">
                <span data-feather="shopping-cart"></span> Vendors
            </a>
        </li>
    </ul>
</div> -->