<div class="col-auto mt-6">
    <div id="tabs">
        <ul id="tab-list">
            <!-- <li><a href="/Services">Services</a></li>
            <li><a href="/Cashflows">Cashflows</a></li> -->
            <li><a href="/Patient-Appointments">Patient-Appointmentss</a></li>
            <li><a href="/Patient-Prescriptions">Patient-Prescriptions</a></li>
            <li><a href="/Doctor-Appointments">Doctor-Appointments</a></li>
            <li><a href="/Doctor-Prescriptions">Doctor-Prescriptionss</a></li>
            <li><a href="/Doctor-Patients">Doctor-Patients</a></li>
            <li><a href="/Pharmacy-Prescriptions">Pharmacy-Prescriptions</a></li>

        </ul>
    </div>
</div>

