<div>
    <div *ngIf="currentAppointment.appointment_id" class="edit-form">
        <b><h2>Add an Appointment</h2></b>
        <form>
            
            <div class="form-group">
                <label for="appointment_time">Date Created</label> <br>
                <input type="date" id="appointment_time" name="appointment_time" required [(ngModel)]="currentAppointment.appointment_time">
                <!-- <input class="form-control" id="appointment_time" required [(ngModel)]="appointment.appointment_time" name="appointment_time" /> -->
            </div>

            <label for="doctor">Doctor ID</label> <br>
            <select id="doctor" name="doctor" class=form-group required [(ngModel)]="currentAppointment.doctor">
             
            </select>


        </form>

        <button class="badge badge-danger mr-2 " (click)="deleteAppointment() ">
      Delete
    </button>

        <button type="submit " class="badge badge-success mb-2 " (click)="updateAppointment() ">
      Update
    </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentAppointment.appointment_id ">
        <br />
        <p>Cannot access this Doctor...</p>
    </div>
</div>