<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <b><h2>Add an Appointment</h2></b>
            


            <div class="form-group">
                <label for="appointment_time">Date Created</label> <br>
                <input type="date" id="appointment_time" name="appointment_time" required [(ngModel)]="appointment.appointment_time">
            </div>

            <label for="doctor">Doctor </label> <br>

            <select class=form-group [(ngModel)]="appointment.doctor">
                <option *ngFor="let doctor of doctors" [value]="doctor.doctor_id">
                  {{doctor.doctor_name}}
                </option>
            </select>


            <br>
            <button (click)="saveAppointment() " class="btn btn-success ">Submit</button>
        </div>

        <div *ngIf="submitted ">
            <h4>Appointment was submitted successfully!</h4>
            <button class="btn btn-success " (click)="newAppointment() ">Add</button>
        </div>
    </div>
</div>