<div class="col">
    <div id="page-content">
        <div id="expenses">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Expenses</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <input id="search" type="text" placeholder="Search Expenses" [(ngModel)]="expense_type">
                            <button id="search-expenses" class="table-header-button" (click)="searchExpenses()">Search Expenses</button>
                            <button id="add-expenses" class="table-header-button" routerLink="/Add-Expense">Add Expenses</button>
                        </div>
                    </div>
                </div>
                <table id="table">
                    <thead>
                        <tr>
                            <td>Serial No</td>
                            <td>Date Created</td>
                            <td>Expense Type</td>
                            <td>Expense Amount</td>
                            <td>
                                View Expense
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expense of expenses | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index" [class.active]="i == currentIndex">
                            <td>{{(page-1)*10 +i +1}}</td>
                            <td>{{expense.date_created}}</td>
                            <td>{{expense.expense_type}}</td>
                            <td>{{expense.expense_amount}}</td>
                            <td>
                                <!-- <a routerLink="/View-Expenses/{{expense.expense_id}}">
                                    View
                                </a> | -->
                                <a routerLink="/Expenses/{{expense.expense_id}}">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" d-flex justify-content-center ">
        <pagination-controls previousLabel="Prev" Responsive=True nextLabel="Next" (pageChange)="tabSize($event)">

        </pagination-controls>
    </div>
</div>