{% extends 'aTemplate.html' %}
{% load mathfilters %}

{% block body %}
{% endblock %}

{% block fillUp %}

<div class="container mt">
  <!-- Content here -->
    <center> <h1>Recent Expenses </h1> <a class="btn btn-dark"  role="button"
        href="/accountManagement/addGeneralExpense" > Add General Expense </a>

    <a class="btn btn-dark"  role="button"
        href="/accountManagement/addVendorExpense" > Add Vendor Expense </a>
    </center>
    <br>
<h1> General Expenses </h1>
<div class="center mt-2">

<br>
<table class="table table-bordered ">
  <thead class="thead thead-dark">
    <tr>

      <th scope="col">S#</th>
        <th scope="col">Project</th>
         <th scope="col">Receipient </th>
        <th scope="col">Date</th>
      <th scope="col"> Amount </th>
        <th scope="col"> Action </th>
    </tr>
  </thead>
  <tbody>

      {% for object in generalExpenseList %}
      <tr>
      <th scope="row"> {{forloop.counter}} </th>
      <td>{{object.project.projectName}}</td>
      <td>{{object.expenseReceipient}}</td>
      <td>{{object.expenseDate}}</td>
      <td>{{object.expenseAmount|div:1000}} K</td>
      <td> <a href="/accountManagement/removeGeneralExpense/{{object.expenseID}} " > Remove </a>|
      <a href="/accountManagement/editGeneralExpense/{{object.expenseID}} " > Edit  </a></td>
     </td>

      </tr>
      {% endfor %}
  </tbody>
</table>
</div>

       <a class="btn btn-dark" href="/accountManagement/allGeneralExpense" role="button">
               View General Expenses</a>
<br><br>
<h1> Vendor Expenses (Pending) </h1>
<br>
<div class="center mt-2">

<table class="table table-bordered ">
  <thead class="thead thead-dark">
    <tr>

      <th scope="col">S#</th>
         <th scope="col">Vendor </th>
        <th scope="col">Project</th>
        <th scope="col">Date</th>
      <th scope="col"> Amount </th>
        <th scope="col"> Action </th>
    </tr>
  </thead>
  <tbody>

      {% for object in vendorExpenseList %}
      <tr>
      <th scope="row"> {{forloop.counter}} </th>
      <td> {{object.vendor.vendorName}}</td>
                  <td>{{object.project.projectName}}</td>
                <td>{{object.expenseDate}}</td>
      <td>{{object.expenseAmount|div:1000}} K</td>
      <td> <a href="/accountManagement/removeVendorExpense/{{object.expenseID}} " > Remove </a>|
      <a href="/accountManagement/editVendorExpense/{{object.expenseID}} " > Edit  </a></td>


     </td>

      </tr>
      {% endfor %}

  </tbody>
</table>
</div>
     <a class="btn btn-dark" href="/accountManagement/allVendorExpense" role="button">
               View Vendor Expenses</a>
</div>
  <br>
  <br>



{% endblock %}






