<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <b><h2>Add a Client</h2></b>
            <div class="form-group">
                <label for="name">Client Name</label>
                <input class="form-control" id="description" required [(ngModel)]="client.client_name" name="name" />
            </div>

            <button (click)="saveClient()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Client was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newClient()">Add</button>
        </div>
    </div>
</div>