<div class="col">
    <div id="page-content">
        <div id="clients">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Clients</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <input id="search" type="text" placeholder="Search Client" [(ngModel)]="client_name">
                            <button id="search-client" class="table-header-button" (click)="searchClient()">Search Client</button>
                        </div>

                        <button id="add-invoice " class="table-header-button " routerLink="/Add-Invoice">Add Invoice</button>
                        <button id=" add-receiving" class="table-header-button " routerLink="/Add-Receiving">Add Receiving</button>
                        <button id=" add-client " class="table-header-button " routerLink="/Add-Client">Add Client</button>

                    </div>
                </div>

                <table id="table">
                    <thead>
                        <tr>
                            <td>Serial No</td>
                            <td>Client Name</td>
                            <td>
                                View Client
                            </td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let client of clients | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index" [class.active]="i == currentIndex">

                            <td>{{(page-1)*10 +i +1}}</td>
                            <td>{{client.client_name }}</td>
                            <td>

                                <a routerLink="/View-Clients/{{client.client_id}} ">
                                    View
                                </a> |
                                <a routerLink="/Clients/{{client.client_id}} ">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class=" d-flex justify-content-center ">
            <pagination-controls previousLabel="Prev" Responsive=True nextLabel="Next" (pageChange)="tabSize($event)">

            </pagination-controls>
        </div>
    </div>

</div>