{% extends 'aTemplate.html' %}

{% block body %}

{% endblock %}


{% block fillUp %}

<br>


<div class="container">
    <form action='/accountManagement/editGeneralExpenseFunction' method='post'> {% csrf_token %}

        <div class="form-group row">

            <label for="expenseID" class="col-sm-2 col-form-label">Expense ID</label>
            <div class="col-sm-10">
                <input readonly value="{{currentExpense.expenseID}}" name="expenseID" type="text" class="form-control"
                       id="expenseID" contenteditable="false">
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Project Name
                <a href="/projectManagement/addProject"> Add</a> </label>
            <div class="col-sm-10">
                <select class="form-control" name="projectID">

                    <option value="{{currentExpense.project.projectID}}"> {{currentExpense.project.projectName}}
                    </option>
                    {% for projectObject in projectList %}
                    <option value="{{projectObject.projectID}}"> {{projectObject.projectName}}</option>

                    {% endfor %}
                </select>

            </div>
        </div>
        <fieldset class="form-group mt-4">
            <div class="row ">
                <legend class="col-form-label col-sm-2 pt-0 ">Type of Expense</legend>
                <div class="col-sm-10">

                    <select class="form-control" name="expenseType">
                        <option value="{{currentExpense.expenseType}}"> {{currentExpense.expenseType}}</option>

                        {% for object in typeOfExpense %}
                        <option value="{{object}}"> {{object}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>


        <div class="form-group row">

            <label for="expenseReceipient" class="col-sm-2 col-form-label">Expense Receipient</label>
            <div class="col-sm-10">
                <input name="expenseReceipient" type="text" class="form-control" id="expenseReceipient"
                       value="{{currentExpense.expenseReceipient}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="expenseAmount" class="col-sm-2 col-form-label">Expense Amount</label>
            <div class="col-sm-10">
                <input name="expenseAmount" type="text" class="form-control" id="expenseAmount"
                       value=" {{currentExpense.expenseAmount}}">
            </div>
        </div>

        <div class="form-group row">

            <label for="expenseDetails" class="col-sm-2 col-form-label">Expense Details</label>
            <div class="col-sm-10">
                <textarea name="expenseDetails" class="form-control " id="expenseDetails"> {{currentExpense.expenseDetails}}</textarea>
            </div>


        </div>

        <!-- Expense Date -->

        <div class="form-group row">
            <label for="expenseDate" class="col-2 col-form-label">Expense Date (MM-DD-YY)</label>
            <div class="col-10">
                <input class="form-control" type="date" value="{{expenseDate}}" id="expenseDate" name="expenseDate">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-2">Extra Work</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  value="True"
                           name="checkExtraWork">
                    {% if currentExpense.expenseExtraWorkBoolean == True %}
                    <input class="form-check-input" type="checkbox"  value="False"
                           name="checkExtraWork"
                           checked="False">
                    {% else %}
                    <input class="form-check-input" type="checkbox"  value="True"
                           name="checkExtraWork"
                    >
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="input-group mb-3">


                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="expenseAttachment">
                    <label class="custom-file-label" for="expenseAttachment">Choose Attachment</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Make Entry</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}