{% extends 'vTemplate.html' %}


{% block body %}
{% endblock %}

{% block fillUp %}

<br>
<div class="container">

  <form action='/vendorManagement/editVendorFunction' method='post'> {% csrf_token %}

<!-- Vendor ID -->
  <div class="form-group row">

      <label for="vendorID" class="col-sm-2 col-form-label">Vendor ID</label>
      <div class="col-sm-10">
          <input readonly value="{{currentVendor.vendorID}}" name="vendorID" type="text" class="form-control" id="vendorID" contenteditable="false">
      </div>
  </div>

<!-- Vendor Name -->
  <div class="form-group row">

      <label class="col-sm-2 col-form-label" for="vendorName">Vendor Name</label>
      <div class="col-sm-10">
          <input class="form-control" id="vendorName" name="vendorName" type="text" value="{{currentVendor.vendorName}}">
      </div>
  </div>

<!-- Vendor Owner -->
  <div class="form-group row">

    <label class="col-sm-2 col-form-label" for="vendorOwner">Vendor Owner</label>
    <div class="col-sm-10">
      <input class="form-control" id="vendorOwner" name="vendorOwner" type="text" value="{{currentVendor.vendorOwner}}">
    </div>

   </div>

<!-- Vendor Category-->
   <div class="form-group row">

    <label class="col-sm-2 col-form-label" for="vendorCategory">Vendor Category</label>
    <div class="col-sm-10">
      <input class="form-control" id="vendorCategory" name="vendorCategory" type="text" value="{{currentVendor.vendorCategory}}" >
    </div>

   </div>

<!-- Vendor Dues -->


<!-- Make Entry -->
      <div class="form-group row">
        <div class="col-sm-10">
             <button class="btn btn-primary" type="submit">Make Entry</button>
         </div>
     </div>

</form>
</div>
{% endblock %}