<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <b><h2>Add an Expense</h2></b>
            <div class="form-group">
                <label for="name">Expense Type</label>
                <input class="form-control" id="description" required [(ngModel)]="expense.expense_type" name="expense_type" />
            </div>
            <div class="form-group">
                <label for="expense_amount">Expense Amount</label>
                <input class="form-control" id="expense_amount" required [(ngModel)]="expense.expense_amount" name="expense_amount" />
            </div>

            <div class="form-group">
                <label for="date_created">Date Created</label> <br>
                <input type="date" id="date_created" name="date_created" required [(ngModel)]="expense.date_created">
                <!-- <input class="form-control" id="date_created" required [(ngModel)]="expense.date_created" name="date_created" /> -->
            </div>

            <button (click)="saveExpense()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Expense was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newExpense()">Add</button>
        </div>
    </div>
</div>