{% extends 'main.html'%} {% load static %} {% block fillUp %}

<div class="card-body ">
    <h5 class="card-title">
    </h5>
    <p class="card-text">
    </p>
    <a class="btn btn-info" href="/Clients/Clients_Get_Statement" role="button">Generate Statement</a><br><br>
</div>

<h1 style="text-align:center"> Client Payable Table </h1>
<br>

<div class="center">
    <table class="table table-bordered ">
        <thead class="thead thead-dark">

            <tr class="table-info">

                <th scope="col"> Client Name </th>
                <th scope="col"> 1-30 </th>
                <th scope="col"> 30-60 </th>
                <th scope="col"> 60-90 </th>
                <th scope="col"> > 90 </th>
                <th scope="col"> Total </th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td> {{client.client_name}} </td>
                <td> {{client.get_one_month}} </td>
                <td> {{client.get_two_month}} </td>
                <td>{{client.get_three_month}}</td>
                <td>{{client.get_four_month}}</td>
                <td>{{client.get_total}}</td>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<h1 style="text-align:center"> Client Statement </h1>
<br>

<div class="center">
    <table class="table table-bordered ">
        <thead class="thead thead-dark">

            <tr class="table-info">

                <th scope="col"> Transaction Type </th>
                <th scope="col"> Date </th>
                <th scope="col"> Transaction Details </th>
                <!-- <th scope="col"> Amount </th> -->

            </tr>
        </thead>
        <tbody>

            {% for entry in combined_results %}
            <tr>
                {% if entry.invoice_client %}
                <td> Invoices </td>
                <td>{{entry.date_created}}</td>
                <td>{{entry.invoice_description}}</td>


                {% elif entry.receiving_client%}
                <td> Receivings</td>
                <td>{{entry.date_created}}</td>
                <td>{{entry.receiving_description}}</td>


                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}