<!DOCTYPE html> {% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'dashboard.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'dashboard.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <br>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            {% if '/Summary/' in request.path %}
                            <a class="nav-link active" href="/">
                                <span data-feather="shopping-cart"></span> Summary
                            </a>
                            {% else %}
                            <a class="nav-link " href="/">
                                <span data-feather="shopping-cart"></span> Summary
                            </a>
                            {% endif %}
                        </li>

                        <li class="nav-item">
                            {% if '/Services/' in request.path %}
                            <a class="nav-link active" href="/Services">
                                <span data-feather="shopping-cart"></span> Services
                            </a>
                            {% else %}
                            <a class="nav-link " href="/Services">
                                <span data-feather="shopping-cart"></span> Services
                            </a>
                            {% endif %}
                        </li>

                        <li class="nav-item">
                            {% if '/Clients/' in request.path %}
                            <a class="nav-link active" href="/Clients">
                                <span data-feather="shopping-cart"></span> Clients
                            </a>
                            {% else %}
                            <a class="nav-link " href="/Clients">
                                <span data-feather="shopping-cart"></span> Clients
                            </a>
                            {% endif %}
                        </li>

                        <li class="nav-item">
                            {% if '/Cashflows/' in request.path %}
                            <a class="nav-link active" href="/Cashflows">
                                <span data-feather="shopping-cart"></span> Cashflows
                            </a>
                            {% else %}
                            <a class="nav-link " href="/Cashflows">
                                <span data-feather="shopping-cart"></span> Cashflows
                            </a>
                            {% endif %}
                        </li>




                        <li class="nav-item">
                            {% if '/Accounts/' in request.path %}
                            <a class="nav-link active" href="/Accounts">
                                <span data-feather="shopping-cart"></span>Accounts
                            </a>
                            {% else %}
                            <a class="nav-link " href="/Accounts">
                                <span data-feather="shopping-cart"></span> Accounts
                            </a>

                            <li class="nav-item">
                                {% if '/Expenses/' in request.path %}
                                <a class="nav-link active" href="/Expenses">
                                    <span data-feather="shopping-cart"></span> Expenses
                                </a>
                                {% else %}
                                <a class="nav-link " href="/Expenses">
                                    <span data-feather="shopping-cart"></span> Expenses
                                </a>
                                {% endif %}
                            </li>

                            <li class="nav-item">
                                {% if '/Receivings/' in request.path %}
                                <a class="nav-link active" href="/Receivings">
                                    <span data-feather="shopping-cart"></span> Receivings
                                </a>
                                {% else %}
                                <a class="nav-link " href="/Receivings">
                                    <span data-feather="shopping-cart"></span> Receivings
                                </a>
                                {% endif %}
                            </li>
                            {% endif %}
                        </li>



                        <li class="nav-item">
                            {% if '/Vendors/' in request.path %}
                            <a class="nav-link active" href="/Vendors">
                                <span data-feather="shopping-cart"></span> Vendors
                            </a>
                            {% else %}
                            <a class="nav-link " href="/Vendors">
                                <span data-feather="shopping-cart"></span> Vendors
                            </a>
                            {% endif %}
                        </li>

                    </ul>
                </div>

            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <br> <br>

                <!-- MAIN CODE  -->
                {% block fillUp %} {% endblock %}

            </main>
        </div>
    </div>

</body>

</html>