appdirs==1.4.4
asgiref==3.2.5
atomicwrites==1.4.0
attrs==20.3.0
botocore==1.15.49
cached-property==1.5.2
cement==2.8.2
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
decorator==4.3.0
dj-database-url==0.3.0
Django>=3.0,<4.0

docutils==0.15.2

html5lib==1.1
idna==2.7
importlib-metadata==4.5.0
isodate==0.6.0

jmespath==0.10.0
joblib==1.0.1

Mako==1.0.7
MarkupSafe==1.1.0
ofxparse==0.19
packaging==20.9
passlib==1.7.1
pathspec==0.5.9
psutil==5.6.6
psycopg2==2.8.5
psycopg2-binary>=2.8
py==1.10.0
pycparser==2.20
pydot==1.4.1
pyparsing==2.4.7
pytest==6.2.4
pytest-django==4.4.0
python-bidi==0.4.2
# pywin-dateutil==2.8.0
pytz==2019.3
pyusb==1.0.2
PyYAML==5.3.1

semantic-version==2.5.0
six==1.11.0

sqlparse==0.3.1
termcolor==1.1.0
threadpoolctl==2.1.0
vobject==0.9.6.1
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.16.1
XlsxWriter==1.1.2

