<div class="col">
    <div id="page-content">
        <div id="receivings">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Receivings</span>
                    </div>
                    <div id="table-header-right">
                        <div>
                            <input id="search" type="text" placeholder="Search Receiving" [(ngModel)]="receiving_description">
                            <button id="search-receiving" class="table-header-button" (click)="searchReceivings()">Search Receiving </button>
                        </div>
                        <button id="add-bill" class="table-header-button " routerLink="/Add-Receiving">Add Receiving</button>
                    </div>
                </div>
                <table id="table">
                    <thead>
                        <tr>
                            <td>Serial No</td>
                            <td>Date Created</td>
                            <td> Description</td>
                            <td> Amount</td>
                            <td>
                                View
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let receiving of receivings | paginate : {
                             itemsPerPage: tableSize,
                              currentPage: page,
                               totalItems: count }; let i=index " [class.active]="i==currentIndex ">
                            <td>{{(page-1)*10 +i +1}}</td>
                            <td>{{receiving.date_created}}</td>
                            <td>{{receiving.receiving_description}}</td>
                            <td>{{receiving.receiving_amount}}</td>
                            <td>
                                <a routerLink="/Receivings/{{receiving.receiving_id}} ">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" d-flex justify-content-center ">
        <pagination-controls previousLabel="Prev " Responsive=True nextLabel="Next " (pageChange)="tabSize($event) ">

        </pagination-controls>
    </div>
</div>