<div>
    <div *ngIf="currentClient.client_id" class="edit-form">
        <b><h2>Edit a Client</h2></b>
        <form>
            <br>
            <div class="form-group">
                <label for="name">Client Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="currentClient.client_name" name="client_name" />
            </div>
        </form>


        <button class="badge badge-danger mr-2" (click)="deleteClient()">
      Delete
    </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateClient()">
      Update
    </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentClient.client_id">
        <br />
        <p>Cannot access this Client...</p>
    </div>
</div>