<nav id="nav">
    <div id="nav-left">
        <img id="nav-logo" src="assets/logo-placeholder.png" alt="Logo Here">
    </div>
    <div id="nav-right">
        <div id="nav-profile">
            <span id="nav-profile-name">
           Revolotionary Healthcare
        </span>
            <img id="nav-profile-picture" src="assets/my.jpeg" alt="Profile Picture">
            <select id="nav-dropdown-menu" (change)="onOptionSelected($event)">
            <option value="" disabled selected>Options</option>
            <option value="/MedicalHistory" routerLink="/MedicalHistory">MedicalHistory</option>
            <option value="/Logout" routerLink="/Logout">Logout</option>
        </select>
              
              
        </div>
        <!-- <div id="nav-dropdown">
            <select id="nav-dropdown-menu">
                <option value="">Menu</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div> -->
    </div>
</nav>