<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <b><h2>Add an Invoice</h2></b>
            <div class="form-group">
                <label for="name">Invoice Description</label>
                <input class="form-control" id="description" required [(ngModel)]="invoice.invoice_description" name="invoice_description" />
            </div>

            <div class="form-group">
                <label for="invoice_amount">Invoice Amount</label>
                <input class="form-control" id="invoice_amount" required [(ngModel)]="invoice.invoice_amount" name="invoice_amount" />
            </div>

            <div class="form-group">
                <label for="date_created">Date Created</label> <br>
                <input type="date" id="date_created" name="date_created" required [(ngModel)]="invoice.date_created">
            </div>

            <label for="client">Client </label> <br>

            <select class=form-group [(ngModel)]="invoice.invoice_client">
                <option *ngFor="let client of clients" [value]="client.client_id">
                  {{client.client_name}}
                </option>
            </select>


            <br>
            <button (click)="saveInvoice() " class="btn btn-success ">Submit</button>
        </div>

        <div *ngIf="submitted ">
            <h4>Invoice was submitted successfully!</h4>
            <button class="btn btn-success " (click)="newInvoice() ">Add</button>
        </div>
    </div>
</div>